<!-- Navegación de migas de pan (breadcrumbs) para la ubicación del usuario -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <!-- Enlace a la página de inicio (link al componente asociado) -->
    <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
    <!-- Elemento activo que muestra la sección actual, en este caso, "Vuelos" -->
    <li class="breadcrumb-item active">Vuelos</li>
  </ol>
</nav>

<!-- Contenedor de una tarjeta (card) para mostrar detalles de vuelos -->
<div class="card">
  <div class="header">
    <!-- Título principal de la tarjeta -->
    <h2 class="title">Detalle de vuelos</h2>
  </div>
  <div class="content">
    <!-- Mostrar una alerta si hay feedback (retroalimentación) -->
    <div *ngIf="feedback.length" class="alert alert-{{feedback.type}}">
      <!-- Mostrar el mensaje de feedback -->
      {{ feedback.message }}
    </div>

    <!-- Formulario para editar detalles de un vuelo si la variable "flight" tiene un valor -->
    <form *ngIf="flight" #editForm="ngForm" (ngSubmit)="save()">
      <!-- Campo de entrada para el ID del vuelo -->
      <div class="form-group">
        <label for="id">Id</label>
        <input type="number" [(ngModel)]="flight.id" id="id" name="id" class="form-control">
      </div>

      <!-- Campo de entrada para el lugar de origen ("Desde") -->
      <div class="form-group">
        <label for="from">Desde</label>
        <input [(ngModel)]="flight.from" id="from" name="from" class="form-control">
      </div>

      <!-- Campo de entrada para el lugar de destino ("Hacia") -->
      <div class="form-group">
        <label for="to">Hacia</label>
        <input [(ngModel)]="flight.to" id="to" name="to" class="form-control">
      </div>

      <!-- Campo de entrada para la fecha del vuelo -->
      <div class="form-group">
        <label for="date">Fecha</label>
        <input type="date" [(ngModel)]="flight.date" id="date" name="date" class="form-control">
      </div>

      <!-- Botón para guardar los cambios en el formulario (habilitado cuando el formulario es válido) -->
      <button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid">Guardar</button>
      <!-- Botón para cancelar la edición y volver atrás -->
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancelar</button>
    </form>
  </div>
</div>
