<!-- Navegación de migas de pan (breadcrumbs) para la ubicación del usuario -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <!-- Enlace a la página de inicio (link al componente asociado) -->
    <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
    <!-- Elemento activo que muestra la sección actual, en este caso, "Vuelos" -->
    <li class="breadcrumb-item active">Vuelos</li>
  </ol>
</nav>

<!-- Contenedor de una tarjeta (card) para mostrar la lista de vuelos -->
<div class="card">
  <div class="header">
    <!-- Título principal de la tarjeta -->
    <h2 class="title">Lista de vuelos</h2>
  </div>
  <div class="content">
    <!-- Formulario para filtrar vuelos -->
    <form #f="ngForm">
      <!-- Campo de entrada para el lugar de origen ("Desde") -->
      <div class="form-group">
        <label for="from">Desde:</label>
        <input [(ngModel)]="filter.from" id="from" name="from" class="form-control">
      </div>

      <!-- Campo de entrada para el lugar de destino ("Hacia") -->
      <div class="form-group">
        <label for="to">Hacia:</label>
        <input [(ngModel)]="filter.to" id="to" name="to" class="form-control">
      </div>

      <!-- Botón para realizar una búsqueda (habilitado cuando el formulario es válido) -->
      <button (click)="search()" [disabled]="!f?.valid" class="btn btn-primary">Buscar</button>
      <!-- Enlace para crear un nuevo vuelo -->
      <a [routerLink]="['../flights', 'new' ]" class="btn btn-default ml-2">Nuevo</a>
    </form>
  </div>
</div>

<!-- Tarjeta que muestra la lista de vuelos si hay elementos en la lista -->
<div class="card" *ngIf="flightList.length > 0">
  <!-- Muestra una alerta si hay feedback (retroalimentación) -->
  <div *ngIf="feedback.length" class="alert alert-{{feedback.type}}">
    <!-- Muestra el mensaje de feedback -->
    {{ feedback.message }}
  </div>
  <div class="table-responsive">
    <!-- Tabla que muestra la lista de vuelos -->
    <table class="table table-centered table-hover mt-2" id="datatable">
      <thead>
        <tr>
          <th class="border-top-0" scope="col">Id</th>
          <th class="border-top-0" scope="col">Desde</th>
          <th class="border-top-0" scope="col">Hacia</th>
          <th class="border-top-0" scope="col">Fecha</th>
          <th class="border-top-0" scope="col" style="width:120px"></th>
        </tr>
      </thead>
      <tbody>
        <!-- Itera a través de los elementos en la lista de vuelos -->
        <tr *ngFor="let item of flightList" [class.active]="item === selectedFlight">
          <!-- Muestra el ID del vuelo -->
          <td>{{item.id}}</td>
          <!-- Muestra el lugar de origen ("Desde") -->
          <td>{{item.from}}</td>
          <!-- Muestra el lugar de destino ("Hacia") -->
          <td>{{item.to}}</td>
          <!-- Muestra la fecha del vuelo formateada como fecha -->
          <td>{{item.date | date}}</td>
          <td style="white-space: nowrap">
            <!-- Enlace para editar el vuelo -->
            <a [routerLink]="['../flights', item.id ]" class="btn btn-secondary">Editar</a>&nbsp;
            <!-- Botón para eliminar el vuelo -->
            <button (click)="delete(item)" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>