<ol class="breadcrumb float-right">
  <!-- Una lista ordenada que se usa comúnmente para mostrar la navegación de la página. -->
  <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
  <!-- Un elemento de navegación con un enlace a la página de inicio. -->
  <li class="breadcrumb-item active">Hoteles</li>
  <!-- Elemento de navegación activo que muestra "Hoteles" como la página actual. -->
</ol>

<div class="card">
  <!-- Un contenedor con la clase "card" para dar formato a la sección. -->
  <div class="header">
    <!-- Un encabezado de la sección. -->
    <h2 class="title">Detalles del hotel</h2>
    <!-- Un título que indica que se están mostrando detalles del hotel. -->
  </div>

  <div class="content">
    <!-- El contenido principal de la sección. -->
    <div *ngIf="feedback.message" class="alert alert-{{feedback.type}}">
      <!-- Un bloque condicional que muestra una alerta si existe un mensaje de retroalimentación. -->
      {{ feedback.message }}
      <!-- Muestra el mensaje de retroalimentación. -->
    </div>

    <form *ngIf="hotel" #editForm="ngForm" (ngSubmit)="save()">
      <!-- Un formulario condicional que solo se muestra si existe un objeto "hotel". -->

      <div class="form-group">
        <!-- Un grupo de formulario para mostrar información del hotel. -->
        <label>Id</label>
        {{hotel.id || 'n/a'}}
        <!-- Muestra el ID del hotel o 'n/a' si no está definido. -->
      </div>

      <div class="form-group">
        <label for="name">Nombre</label>
        <input [(ngModel)]="hotel.name" id="name" name="name" class="form-control">
        <!-- Campo de entrada para el nombre del hotel con enlace bidireccional a la variable "hotel.name". -->
      </div>

      <div class="form-group">
        <label for="city">Ciudad</label>
        <input [(ngModel)]="hotel.city" id="city" name="city" class="form-control">
        <!-- Campo de entrada para la ciudad del hotel con enlace bidireccional a la variable "hotel.city". -->
      </div>

      <div class="form-group">
        <label for="stars">Estrellas</label>
        <input [(ngModel)]="hotel.stars" id="stars" name="stars" class="form-control">
        <!-- Campo de entrada para el número de estrellas del hotel con enlace bidireccional a la variable "hotel.stars". -->
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid">Guardar</button>
      <!-- Botón para enviar el formulario, habilitado solo si el formulario es válido. -->
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancelar</button>
      <!-- Botón para cancelar la edición. Al hacer clic, se llama a la función "cancel()". -->
    </form>
  </div>
</div>
