<ol class="breadcrumb float-right">
  <!-- Lista ordenada que se utiliza para mostrar la navegación de la página. -->
  <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
  <!-- Elemento de navegación que enlaza a la página de inicio. -->
  <li class="breadcrumb-item active">Hoteles</li>
  <!-- Elemento de navegación activo que indica la página actual (lista de hoteles). -->
</ol>

<div class="card">
  <!-- Un contenedor con la clase "card" para dar formato a la sección. -->
  <div class="header">
    <!-- Encabezado de la sección. -->
    <h2 class="title">Lista de hoteles</h2>
    <!-- Título que describe el propósito de la sección (lista de hoteles). -->
  </div>
  <div class="content">
    <form #f="ngForm">
      <!-- Formulario con una referencia local "f" que se utiliza para validar el formulario. -->
      <div class="form-group">
        <label for="city">Ciudad:</label>
        <!-- Etiqueta que describe un campo de entrada. -->
        <input [(ngModel)]="filter.city" id="city" name="city" class="form-control">
        <!-- Campo de entrada con enlace bidireccional al modelo "filter.city". -->
      </div>
      <button (click)="search()" [disabled]="!f?.valid" class="btn btn-primary">Buscar</button>
      <!-- Botón para realizar una búsqueda, habilitado solo si el formulario es válido. -->
      <a [routerLink]="['../hotels', 'new' ]" class="btn btn-default">Nuevo</a>
      <!-- Enlace para crear un nuevo hotel. -->
    </form>
  </div>
</div>

<div class="card" *ngIf="hotelList.length > 0">
  <!-- Un segundo contenedor de tarjeta que solo se muestra si la lista de hoteles no está vacía. -->
  <div *ngIf="feedback.message" class="alert alert-{{feedback.type}}">
    <!-- Muestra una alerta si hay un mensaje de retroalimentación. -->
    {{ feedback.message }}
    <!-- Muestra el mensaje de retroalimentación. -->
  </div>
  <div class="table-responsive">
    <!-- Contenedor para hacer que la tabla sea desplazable horizontalmente en dispositivos pequeños. -->
    <table class="table table-centered table-hover mb-0" id="datatable">
      <!-- Tabla con clases de estilo. -->
      <thead>
        <!-- Encabezado de la tabla. -->
        <tr>
          <!-- Fila de encabezado de la tabla. -->
          <th class="border-top-0" scope="col">Id</th>
          <!-- Columna de encabezado para el ID del hotel. -->
          <th class="border-top-0" scope="col">Nombre</th>
          <!-- Columna de encabezado para el nombre del hotel. -->
          <th class="border-top-0" scope="col">Ciudad</th>
          <!-- Columna de encabezado para la ciudad del hotel. -->
          <th class="border-top-0" scope="col">Estrellas</th>
          <!-- Columna de encabezado para el número de estrellas del hotel. -->
          <th class="border-top-0" scope="col" style="width:120px"></th>
          <!-- Columna de encabezado con un ancho específico. -->
        </tr>
      </thead>
      <tbody>
        <!-- Cuerpo de la tabla. Se repite para cada hotel en la lista. -->
        <tr *ngFor="let item of hotelList" [class.active]="item === selectedHotel">
          <!-- Fila de la tabla que puede resaltarse si es el hotel seleccionado. -->
          <td>{{item.id}}</td>
          <!-- Celda que muestra el ID del hotel. -->
          <td>{{item.name}}</td>
          <!-- Celda que muestra el nombre del hotel. -->
          <td>{{item.city}}</td>
          <!-- Celda que muestra la ciudad del hotel. -->
          <td>{{item.stars}}</td>
          <!-- Celda que muestra el número de estrellas del hotel. -->
          <td style="white-space: nowrap">
            <!-- Celda con estilo específico para botones. -->
            <a [routerLink]="['../hotels', item.id ]" class="btn btn-secondary">Editar</a>&nbsp;
            <!-- Enlace para editar el hotel. -->
            <button (click)="delete(item)" class="btn btn-danger">Eliminar</button>
            <!-- Botón para eliminar el hotel. -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

