<div class="wrapper">
  <!-- Contenedor principal de la página. -->
  <div class="sidebar" data-background-color="white" data-active-color="danger">
    <!-- Barra lateral que contiene elementos de navegación. -->
    <sidebar-cmp></sidebar-cmp>
    <!-- Componente Angular que controla el contenido de la barra lateral. -->
  </div>
  <div class="main-panel">
    <!-- Panel principal que contiene la barra de navegación y el área de contenido. -->
    <navbar-cmp></navbar-cmp>
    <!-- Componente Angular que representa la barra de navegación. -->
    <div class="content">
      <!-- Área de contenido principal de la página. -->
      <router-outlet></router-outlet>
      <!-- Outlet de enrutamiento principal para cargar componentes en función de las rutas. -->
      <router-outlet name="aux"></router-outlet>
      <!-- Outlet de enrutamiento con nombre "aux" para cargar componentes adicionales según sea necesario. -->
    </div>
  </div>
</div>


