<div class="sidebar-wrapper">
  <!-- Contenedor principal de la barra lateral. -->
  <div class="logo">
    <!-- Sección del logotipo de la aplicación. -->
    <a class="simple-text">
      <div class="logo-img">
        <img src="../../assets/img/logo-vb.avif" alt="">
        <!-- Elemento de imagen que muestra el logotipo de la aplicación. -->
      </div>
      VuelosBol
      <!-- Texto que muestra el nombre de la aplicación. -->
    </a>
  </div>

  <ul class="nav flex-column">
    <!-- Lista de elementos de navegación. Cada elemento representa un enlace en la barra lateral. -->
    <li class="nav-item">
      <!-- Elemento de navegación 1 -->
      <a routerLink="home" class="nav-link" >
        <!-- Enlace con una ruta "home" definida por Angular. -->
        <i class="ti-home"></i>
        <!-- Icono para "Inicio". -->
        <p>Inicio</p>
        <!-- Texto que muestra el nombre de la sección. -->
      </a>
    </li>

    <li class="nav-item">
      <!-- Elemento de navegación 2 -->
      <a routerLink="flights" class="nav-link" >
        <!-- Enlace con una ruta "flights" definida por Angular. -->
        <i class="ti-arrow-top-right"></i>
        <!-- Icono para "Vuelos". -->
        <p>Vuelos</p>
        <!-- Texto que muestra el nombre de la sección. -->
      </a>
    </li>

    <li class="nav-item">
      <!-- Elemento de navegación 3 -->
      <a routerLink="hotels" class="nav-link" >
        <!-- Enlace con una ruta "hotels" definida por Angular. -->
        <i class="ti-arrow-top-right"></i>
        <!-- Icono para "Hoteles". -->
        <p>Hoteles</p>
        <!-- Texto que muestra el nombre de la sección. -->
      </a>
    </li>
  </ul>
</div>