<div class="card">
  <div class="header">
    <h1 class="title"> Bienvenido {{userName}}</h1>
  </div>
  <div class="content">
    
    <!-- Mensaje de advertencia si el usuario necesita iniciar sesión -->
    <div *ngIf="needsLogin" class="alert alert-warning">
      Has sido redirigido a esta página porque no tienes los datos necesarios 
      para la acción solicitada. ¡Inicie sesión!
    </div>

    <!-- Título "Iniciar Sesión" -->
    <h2>Iniciar Sesión</h2>
    
    <!-- Formulario de inicio de sesión -->
    <form id="loginForm">
      <!-- Campo de entrada para el nombre de usuario -->
      <label for="username">Usuario:</label>
      <input type="text" id="username" name="username" required>
      
      <!-- Campo de entrada para la contraseña -->
      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" required>
      
      <!-- Botón para realizar el inicio de sesión -->
      <button type="submit">Iniciar Sesión</button>
    </form>
  </div>
</div>



